<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Game Backlog</title>

    <link th:href="@{/css/bootstrap-3.0.3.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/styles.css}" rel="stylesheet"></link>
</head>
<body>

<div class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand"><span class="rd-red">Game</span><span class="rd-blue">Backlog</span></a>
        <!--<a class="navbar-brand" >Courses</a>-->
        <ul class="nav navbar-nav">
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/collection}">Collection</a></li>
            <li><a th:href="@{/gamelist}">Games</a></li>
            <li><a th:href="@{/gamedevlist}">Game Developers</a></li>
        </ul>
    </div>
</div>


<div class="container">
    <div class="page-header text-center">

        <h1><span class="rd-red">Game</span><span class="rd-blue">Backlog</span></h1>
        <p class="lead">Welcome to the <span class="rd-red">Game</span><span class="rd-blue">Backlog</span> Add Game
            Form!</p>
    </div>

    <form method="post" th:action="@{/addgame}" th:object="${game}">

        <input id="id" type="hidden" th:field="*{id}" th:value="*{id}"/>


        <div th:class="${#fields.hasErrors('title') ? 'form-group has-error' : 'form-group'}">
            <label for="title" class="control-label">Title</label>
            <input id="title" th:field="*{title}" th:value="*{title}" type="text" class="form-control"/>
        </div>
        <div th:class="${#fields.hasErrors('description') ? 'form-group has-error' : 'form-group'}">
            <label for="description" class="control-label">Description</label>
            <input id="description" th:field="*{description}" th:value="*{description}" type="text"
                   class="form-control"/>
        </div>
        <div th:class="${#fields.hasErrors('genre') ? 'form-group has-error' : 'form-group'}">
            <label for="genre" class="control-label">Genre</label>
            <select id="genre" th:field="*{genre}" th:value="*{genre}" class="form-control">
                <option th:each="item : ${T(be.david.domain.Genre).values()}"
                        th:value="${item}"
                        th:text="${item}">
                </option>
            </select>
        </div>
        <div th:class="${#fields.hasErrors('platform') ? 'form-group has-error' : 'form-group'}">
            <label for="platform" class="control-label">Platform</label>
            <select id="platform" th:field="*{platform}" th:value="*{platform}" class="form-control">
                <option th:each="item : ${T(be.david.domain.Platform).values()}"
                        th:value="${item}"
                        th:text="${item.name}">
                </option>
            </select>
        </div>
        <div th:class="${#fields.hasErrors('progress') ? 'form-group has-error' : 'form-group'}">
            <label for="progress" class="control-label">Progress</label>
            <select id="progress" th:field="*{progress}" th:value="*{progress}" class="form-control">
                <option th:each="item : ${T(be.david.domain.Progress).values()}"
                        th:value="${item}"
                        th:text="${item}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" th:value="${game.id == null ? 'Add Game' : 'Update Game'}" class="btn btn-primary"/>
        </div>
    </form>
</div>

<script th:src="@{/js/jquery-2.0.2.min.js}"></script>
<script th:src="@{/js/bootstrap-3.0.3.min.js}"></script>
</body>
</html>