<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<title>Game Backlog</title>

<link th:href="@{/css/bootstrap-3.0.3.min.css}" rel="stylesheet"></link>
<link th:href="@{/css/styles.css}" rel="stylesheet"></link>
</head>
<body>

<div class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand" ><span class="rd-red">Game</span><span class="rd-blue">Backlog</span></a>
        <!--<a class="navbar-brand" >Courses</a>-->
        <ul class="nav navbar-nav">
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/collection}">Collection</a></li>
            <li><a th:href="@{/gamelist}">Games</a></li>
            <li><a th:href="@{/gamedevlist}">Game Developers</a></li>
        </ul>
    </div>
</div>


<div class="container">
    <h2>Collections</h2>
    <!--<p>The classes that can be used are: .active, .success, .info, .warning, and .danger.</p>-->
    <a th:href="@{/addgamelist}"><p class="glyphicon glyphicon-plus"></p></a>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Creation Date</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody th:each="gl : ${gameList}">
        <tr class="" >
            <!--<td><a th:text="${gl.id}" th:href="${#mvc.url('GLC#gamesPerList').arg(1,gl.id).build()}"></a></td>-->
            <td><a th:text="${gl.id}" th:href="@{/gamesperlist(gameListId=${gl.id})}"></a></td>
            <td th:text="${gl.name}"></td>
            <td th:text="${gl.description}"></td>
            <td th:text="${gl.creationDate}"></td>
            <td><a th:href="@{/addgamelist(gameListId=${gl.id})}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a></td>
            <td><a th:href="${#mvc.url('GLC#removeGameList').arg(0,gl.id).build()}">
                <span class="glyphicon glyphicon-trash"></span>
            </a></td>
        </tr>
        </tbody>
    </table>
</div>

<script th:src="@{/js/jquery-2.0.2.min.js}"></script>
<script th:src="@{/js/bootstrap-3.0.3.min.js}"></script>
</body>
</html>