<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<title>Game Backlog</title>

    <link th:href="@{/css/bootstrap-3.3.7.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" id="bs-theme-stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-static" id="navbar-example">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse"
                    data-target=".bs-example-js-navbar-collapse"><span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>

            <a class="navbar-brand"><span class="rd-red">Game</span><span class="rd-blue">Backlog</span></a>
        </div>
        <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown"><a href="#" class="dropdown-toggle" id="drop1" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false"> Menu <span class="caret"></span>
                </a>
                    <ul class="dropdown-menu" aria-labelledby="drop1">
                        <li><a th:href="@{/}">Home</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/collection}">Collection</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/gamelist}">Games</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/gamedevlist}">Game Developers</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <h2>Games From This Developer</h2>
    <!--<p>The classes that can be used are: .active, .success, .info, .warning, and .danger.</p>-->
    <a th:href="@{/addgametodev(gameDevId = ${gameDevId})}"><p class="glyphicon glyphicon-plus"></p></a>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Genre</th>
            <th>Platform</th>
            <th>Progress</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody th:each="god : ${gamesOfDev}">
        <tr class="" th:classappend="${god.completed}  ? 'success' : 'active'" >
            <td th:text="${god.id}"></td>
            <td th:text="${god.title}"></td>
            <td th:text="${god.description}"></td>
            <td th:text="${god.genre}"></td>
            <td th:text="${god.platform.getName()}"></td>
            <td th:text="${god.progress}"></td>
            <td><a th:href="${#mvc.url('GDC#removeGameFromDev').arg(0,god.id).arg(1,gameDevId).build()}">
                <span class="glyphicon glyphicon-trash"></span>
            </a></td>
        </tr>
        </tbody>
    </table>
</div>

<script th:src="@{/js/project.js}"></script>
<script th:src="@{/js/jquery-2.0.2.min.js}"></script>
<script th:src="@{/js/bootstrap-3.3.7.min.js}"></script>
</body>
</html>